Repository EinStack/glide, pull requests merged in 2023-12, with the labels that each got.

#16 🛠️ #12 Init Glide CLI
  Makefile
  docs/api/Health.bru
  docs/api/bruno.json
  docs/api/environments/Development.bru
  go.mod
  go.sum
  main.go
  pkg/api/http/config.go
  pkg/api/http/server.go
  pkg/api/servers.go
  pkg/cmd/cli.go
  pkg/gateway.go
  pkg/providers/openai/api.go
  pkg/providers/openai/chat.go
Labels: api:http, area:service

#17 3 provider openai
  glide
  go.mod
  pkg/buildAPIRequest.go
  pkg/providers/openai/api.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/index.go
  pkg/providers/types.go
Labels: area:providers

#18 15 request body to ai api schema
  go.mod
  go.sum
  pkg/buildAPIRequest.go
  pkg/providers/openai/api.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/index.go
Labels: area:handlers

#31 #8 Setting up CI checks via GH Actions
  .github/workflows/lint.yaml
  .github/workflows/vuln.yaml
  .gitignore
  .golangci.yml
  Makefile
  glide
  go.mod
  go.sum
  leak_test.go
  main.go
  pkg/api/http/config.go
  pkg/api/http/server.go
  pkg/api/servers.go
  pkg/buildAPIRequest.go
  pkg/cmd/cli.go
  pkg/gateway.go
  pkg/providers/openai/api.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/index.go
Labels: area:chores

#30 #14 🛠️ Inited Glide Logging
  .golangci.yml
  Makefile
  go.mod
  go.sum
  pkg/api/http/server.go
  pkg/api/servers.go
  pkg/buildAPIRequest.go
  pkg/gateway.go
  pkg/pools/router.go
  pkg/telemetry/logging.go
  pkg/telemetry/telemetry.go
Labels: area:telemetry

#38 Removed the testpackage linter
  .golangci.yml
Labels: area:chores

#36 #35: Updated README
  .go-version
  README.md
  docs/images/anthropic.svg
  docs/images/azure.svg
  docs/images/bard.svg
  docs/images/cohere.png
  docs/images/glide.png
  docs/images/localai.webp
  docs/images/openai.svg
Labels: area:chores

#37 #11: Init Config
  Makefile
  config.sample.yaml
  go.mod
  go.sum
  pkg/api/config.go
  pkg/api/http/config.go
  pkg/cmd/cli.go
  pkg/config/config.go
  pkg/config/expander.go
  pkg/config/expander_test.go
  pkg/config/provider.go
  pkg/config/secret.go
  pkg/config/secret_test.go
  pkg/config/testdata/expander.env.yaml
  pkg/gateway.go
  pkg/telemetry/logging.go
  pkg/telemetry/telemetry.go
  pkg/version.go
Labels: area:config

#34 29 setup openai client
  .gitignore
  go.mod
  go.sum
  pkg/buildAPIRequest.go
  pkg/providers/openai/api.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/index.go
  pkg/providers/openai/openaiclient.go
  pkg/providers/types.go
Labels: area:providers

#47 #39: Report test coverage to CodeCov
  .github/workflows/lint.yaml
  .gitignore
  README.md
  pkg/providers/openai/chat.go
Labels: area:chores

#50 Disable codecov/patch job
  codecov.yml
Labels: area:chores

#49 Fail on no config passed
  Makefile
  config.dev.yaml
  pkg/cmd/cli.go
  pkg/config/provider.go
  pkg/config/provider_test.go
  pkg/config/testdata/provider.broken.yaml
Labels: area:config
