Repository EinStack/glide, pull requests merged in 2024-05, with the labels that each got.

#234 📝 Defined a way to manage EinStack Glide project
  CONTRIBUTING.md
  ROADMAP.md
  docs/images/einstack-project-management.excalidraw
  docs/images/einstack-project-management.png
Labels: type:enhancement

#239 👷‍♂️ Added a new GH action to watch for glide activity stream
  .github/workflows/activity-notifications.yaml
Labels: type:enhancement, area:build

#237 ✨🔧 Setup Open Telemetry Metrics and Traces
  go.mod
  go.sum
  pkg/telemetry/telemetry.go
Labels: type:enhancement, area:telemetry

#244 🐛 Running the notification action from the base repo context to share secrets in a secure way
  .github/workflows/activity-notifications.yaml
Labels: area:build

#242 🔧 #221 Add B3 propagator
  go.mod
  go.sum
  pkg/telemetry/telemetry.go
Labels: type:enhancement, area:telemetry

#243 🔧 #241 Support overriding OTEL resource attributes
  pkg/telemetry/telemetry.go
Labels: type:enhancement, area:telemetry

#251 🔧 #164 Make client connection pool configurable across all providers
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/providers/anthropic/client.go
  pkg/providers/azureopenai/client.go
  pkg/providers/bedrock/client.go
  pkg/providers/clients/config.go
  pkg/providers/clients/config_test.go
  pkg/providers/cohere/client.go
  pkg/providers/octoml/client.go
  pkg/providers/ollama/client.go
  pkg/providers/openai/client.go
Labels: type:enhancement, area:providers

#254 🔧 #248 Disable span and metrics by default
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
Labels: type:enhancement, area:telemetry

#255 🔧 #220 Instrument API server
  go.mod
  go.sum
  pkg/api/http/server.go
Labels: type:enhancement, api:http, area:telemetry

#236 🔧 💥 #235: Extended the non-streaming chat error schema with new fields to give clients more context around the error
  README.md
  docs/api/Language API/💬 Chat Stream.bru
  docs/api/Language API/💬 Chat.bru
  docs/api/Language API/🔧 Router List.bru
  docs/api/bruno.json
  docs/api/environments/Development.bru
  docs/api/🔧 Health.bru
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/api/http/handlers.go
  pkg/api/http/schemas.go
  pkg/api/schemas/chat.go
  pkg/api/schemas/chat_stream.go
  pkg/api/schemas/errors.go
  pkg/api/schemas/health_checks.go
  pkg/api/schemas/routers.go
  pkg/providers/anthropic/chat.go
  pkg/providers/azureopenai/chat.go
  pkg/providers/bedrock/chat.go
  pkg/providers/cohere/chat.go
  pkg/providers/cohere/finish_reason.go
  pkg/providers/octoml/chat.go
  pkg/providers/ollama/chat.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/finish_reasons.go
  pkg/providers/testing/lang.go
  pkg/routers/manager.go
  pkg/routers/router.go
  pkg/routers/router_test.go
Labels: type:enhancement, api:http, area:api, model:language, type:breaking

#260 💥 Convert all camelCase config fields to the snake_case in the provider configs
  pkg/providers/anthropic/config.go
  pkg/providers/azureopenai/config.go
  pkg/providers/bedrock/config.go
  pkg/providers/cohere/config.go
  pkg/providers/octoml/config.go
  pkg/providers/ollama/config.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/config.go
Labels: area:providers, area:config, type:breaking

#256 🔧 Instrument gateway process
  go.mod
  go.sum
  pkg/gateway.go
Labels: area:service, area:telemetry

#253 🔧 #238 Implements human readable durations in config
  pkg/providers/anthropic/client.go
  pkg/providers/azureopenai/client.go
  pkg/providers/bedrock/client.go
  pkg/providers/clients/config.go
  pkg/providers/clients/config_test.go
  pkg/providers/cohere/client.go
  pkg/providers/octoml/client.go
  pkg/providers/ollama/client.go
  pkg/providers/openai/client.go
  pkg/routers/config.go
  pkg/routers/retry/config.go
  pkg/routers/retry/config_test.go
Labels: type:enhancement, area:config
