Repository EinStack/glide, pull requests merged in 2024-01, with the labels that each got.

#48 #42 init router config
  docs/api/[Lang] Chat.bru
  docs/api/environments/Development.bru
  pkg/api/http/schemas.go
  pkg/api/http/server.go
  pkg/api/schemas/language.go
  pkg/api/servers.go
  pkg/config/config.go
  pkg/config/fields/secret.go
  pkg/config/fields/secret_test.go
  pkg/config/provider_test.go
  pkg/config/testdata/provider.fullconfig.yaml
  pkg/config/testdata/provider.nomodelprovider.yaml
  pkg/gateway.go
  pkg/pools/router.go
  pkg/providers/language.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/client.go
  pkg/providers/openai/client_test.go
  pkg/providers/openai/config.go
  pkg/providers/openai/openaiclient.go
  pkg/providers/openai/testdata/chat.req.json
  pkg/providers/openai/testdata/chat.success.json
  pkg/providers/provider.go
  pkg/providers/types.go
  pkg/routers/config.go
  pkg/routers/manager.go
  pkg/routers/router.go
  pkg/routers/strategy/strategies.go
  pkg/telemetry/telemetry.go
Labels: area:providers, area:config, api:http

#52 #22: Installed & exposed API documentation
  .github/workflows/lint.yaml
  Makefile
  README.md
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  main.go
  pkg/api/http/config.go
  pkg/api/http/handlers.go
  pkg/api/http/server.go
  pkg/api/servers.go
  pkg/gateway.go
Labels: area:docs, api:http

#53 #51: Build routers & models based on provided config
  config.dev.yaml
  docs/api/[Lang] Router List.bru
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/api/http/handlers.go
  pkg/api/http/schemas.go
  pkg/api/http/server.go
  pkg/config/config.go
  pkg/providers/config.go
  pkg/providers/errs/errors.go
  pkg/providers/language.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/config.go
  pkg/providers/provider.go
  pkg/routers/config.go
  pkg/routers/manager.go
  pkg/routers/router.go
Labels: area:config, area:resiliency

#55 54 unified response
  pkg/api/schemas/language.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/client_test.go
Labels: area:providers, area:api

#56 #5: Cohere Client Init
  pkg/api/schemas/language.go
  pkg/providers/cohere/chat.go
  pkg/providers/cohere/client.go
  pkg/providers/cohere/client_test.go
  pkg/providers/cohere/config.go
  pkg/providers/cohere/testdata/chat.req.json
  pkg/providers/cohere/testdata/chat.success.json
  pkg/providers/openai/chat.go
Labels: area:providers, area:tests

#57 #4: Azure OpenAI Client Init
  pkg/api/schemas/language.go
  pkg/providers/azureopenai/chat.go
  pkg/providers/azureopenai/client.go
  pkg/providers/azureopenai/client_test.go
  pkg/providers/azureopenai/config.go
  pkg/providers/azureopenai/testdata/chat.req.json
  pkg/providers/azureopenai/testdata/chat.success.json
Labels: area:providers

#59 #58: setup octoml client
  pkg/providers/octoml/chat.go
  pkg/providers/octoml/client.go
  pkg/providers/octoml/client_test.go
  pkg/providers/octoml/config.go
  pkg/providers/octoml/testdata/chat.req.json
  pkg/providers/octoml/testdata/chat.success.json
Labels: area:providers

#64 Updated OpenAPI specs after finalizing the unified chat response
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Labels: area:chores, api:http

#69 Add citation reference
  CITATION.cff
Labels: area:chores

#68 #43: Fallback Mechanism for Lang Models
  .github/workflows/lint.yaml
  Makefile
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/api/schemas/language.go
  pkg/config/fields/secret.go
  pkg/providers/azureopenai/chat.go
  pkg/providers/clients/config.go
  pkg/providers/clients/errors.go
  pkg/providers/cohere/chat.go
  pkg/providers/cohere/client.go
  pkg/providers/config.go
  pkg/providers/errs/errors.go
  pkg/providers/octoml/chat.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/client.go
  pkg/providers/openai/client_test.go
  pkg/providers/provider.go
  pkg/providers/testing.go
  pkg/routers/config.go
  pkg/routers/health/buckets.go
  pkg/routers/health/buckets_test.go
  pkg/routers/health/error_budget.go
  pkg/routers/health/error_budget_test.go
  pkg/routers/health/ratelimit.go
  pkg/routers/health/ratelimit_test.go
  pkg/routers/manager.go
  pkg/routers/retry/config.go
  pkg/routers/retry/exp.go
  pkg/routers/retry/exp_test.go
  pkg/routers/router.go
  pkg/routers/router_test.go
  pkg/routers/routing/priority.go
  pkg/routers/routing/strategies.go
  pkg/routers/strategy/strategies.go
Labels: area:resiliency, model:language

#74 👷 Fixing the codecov integration after org renaming
  README.md
Labels: area:chores

#71 🛠️ #44 Implemented the round robin routing strategy
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  main.go
  pkg/api/http/handlers.go
  pkg/providers/provider.go
  pkg/providers/testing.go
  pkg/routers/config.go
  pkg/routers/router.go
  pkg/routers/router_test.go
  pkg/routers/routing/priority.go
  pkg/routers/routing/priority_test.go
  pkg/routers/routing/round_robin.go
  pkg/routers/routing/round_robin_test.go
  pkg/routers/routing/strategies.go
Labels: area:resiliency, area:routing

#73 #72: Update AzureOAI client
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/providers/azureopenai/chat.go
  pkg/providers/azureopenai/client.go
  pkg/providers/azureopenai/client_test.go
  pkg/providers/config.go
  pkg/providers/openai/chat.go
Labels: area:providers, area:resiliency, area:routing

#70 🛠️ #46 inited the least latency routing
  .github/workflows/lint.yaml
  Makefile
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/providers/clients/config.go
  pkg/providers/config.go
  pkg/providers/provider.go
  pkg/providers/testing.go
  pkg/routers/config.go
  pkg/routers/config_test.go
  pkg/routers/health/error_budget.go
  pkg/routers/latency/config.go
  pkg/routers/latency/config_test.go
  pkg/routers/latency/moving_average.go
  pkg/routers/latency/moving_average_test.go
  pkg/routers/router_test.go
  pkg/routers/routing/least_latency.go
  pkg/routers/routing/least_latency_test.go
  pkg/routers/routing/priority_test.go
  pkg/routers/routing/round_robin.go
  pkg/routers/routing/round_robin_test.go
Labels: area:resiliency, area:routing, size:large

#75 🛠️ #45: Added WRR routing strategy
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/providers/config.go
  pkg/providers/provider.go
  pkg/providers/testing.go
  pkg/routers/config.go
  pkg/routers/router_test.go
  pkg/routers/routing/least_latency_test.go
  pkg/routers/routing/priority.go
  pkg/routers/routing/priority_test.go
  pkg/routers/routing/round_robin_test.go
  pkg/routers/routing/weighted_round_robin.go
  pkg/routers/routing/weighted_round_robin_test.go
Labels: area:resiliency, area:routing

#79 #77: onboard cohere and octo
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/providers/cohere/chat.go
  pkg/providers/cohere/client.go
  pkg/providers/cohere/client_test.go
  pkg/providers/config.go
  pkg/providers/octoml/chat.go
  pkg/providers/octoml/client.go
  pkg/providers/octoml/client_test.go
Labels: area:providers, provider:cohere, provider:octoml

#80 Debug providers
  config.dev.yaml
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/api/http/handlers.go
  pkg/providers/azureopenai/config.go
  pkg/providers/openai/config.go
Labels: type:bug, area:routing

#88 👷 #9: Build binaries on tags
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/vuln.yaml
  .goreleaser.yml
  Makefile
  images/Makefile
  images/alpine.Dockerfile
  images/distroless.Dockerfile
  images/redhat.Dockerfile
  images/ubuntu.Dockerfile
  pkg/routers/health/buckets.go
  pkg/routers/health/buckets_test.go
  pkg/routers/health/error_budget.go
  pkg/version.go
Labels: area:deployment

#95 👷 Remove goreleaser configs unsupported in the free version
  .goreleaser.yml
Labels: area:build

#99 👷 Enabled Homebrew formula publishing for prereleases
  .goreleaser.yml
Labels: area:chores, area:build

#97 📝 Updated the installation methods
  README.md
Labels: area:chores, area:build

#103 📝 Added Homebrew Installation
  .goreleaser.yml
  README.md
Labels: area:chores, area:build

#105 Added Glide logos
  docs/logo/glide.png
  docs/logo/glide_bird_in_circle.png
  docs/logo/glide_bird_title.png
  docs/logo/glide_no_bgd.png
  docs/logo/glide_title.png
  docs/logo/glide_title_underscore.png
Labels: area:chores, area:docs

#90 ✨ #81: Allow to chat message based for specific models
  README.md
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/api/http/handlers.go
  pkg/api/schemas/language.go
  pkg/routers/router.go
Labels: area:api

#106 📝 #104 Added the marketecture
  README.md
  docs/images/marketecture.svg
Labels: area:chores, area:docs

#113 📝 #112 added the CLI banner info
  pkg/cmd/cli.go
Labels: area:chores, area:docs

#115 📦 v0.0.1 (Private Preview)
  .goreleaser.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  README.md
  ROADMAP.md
  SECURITY.md
  docs/docs.go
  docs/images/marketecture.svg
  docs/logo/glide.png
  docs/logo/glide_bird_in_circle.png
  docs/logo/glide_bird_title.png
  docs/logo/glide_no_bgd.png
  docs/logo/glide_title.png
  docs/logo/glide_title_underscore.png
  docs/swagger.json
  docs/swagger.yaml
  main.go
  pkg/api/http/handlers.go
  pkg/api/schemas/language.go
  pkg/cmd/cli.go
  pkg/config/provider.go
  pkg/providers/anthropic/chat.go
  pkg/providers/anthropic/client_test.go
  pkg/providers/azureopenai/chat.go
  pkg/providers/azureopenai/client_test.go
  pkg/providers/cohere/chat.go
  pkg/providers/cohere/client_test.go
  pkg/providers/octoml/chat.go
  pkg/providers/octoml/client_test.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/client_test.go
  pkg/providers/provider.go
  pkg/routers/router.go
Labels: type:release
