Repository EinStack/glide, pull requests merged in 2024-03, with the labels that each got.

#150 🔧#149: Streaming Chat Workflow
  .github/workflows/release.yaml
  docs/api/Language API/💬 Chat Stream.bru
  docs/api/Language API/💬 Chat.bru
  docs/api/Language API/🔧 Router List.bru
  docs/api/environments/Development.bru
  docs/api/🔧 Health.bru
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  pkg/api/http/config.go
  pkg/api/http/handlers.go
  pkg/api/http/server.go
  pkg/api/schemas/language.go
  pkg/providers/anthropic/chat.go
  pkg/providers/anthropic/chat_stream.go
  pkg/providers/azureopenai/chat.go
  pkg/providers/azureopenai/chat_stream.go
  pkg/providers/bedrock/chat.go
  pkg/providers/bedrock/chat_stream.go
  pkg/providers/clients/config_test.go
  pkg/providers/clients/errors.go
  pkg/providers/clients/errors_test.go
  pkg/providers/clients/sse.go
  pkg/providers/clients/sse_test.go
  pkg/providers/cohere/chat.go
  pkg/providers/cohere/chat_stream.go
  pkg/providers/octoml/chat.go
  pkg/providers/octoml/chat_stream.go
  pkg/providers/octoml/client_test.go
  pkg/providers/ollama/chat.go
  pkg/providers/ollama/chat_stream.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/chat_stream.go
  pkg/providers/openai/chat_stream_test.go
  pkg/providers/openai/chat_test.go
  pkg/providers/openai/client.go
  pkg/providers/openai/config.go
  pkg/providers/openai/schemas.go
  pkg/providers/openai/testdata/chat_stream.success.txt
  pkg/providers/provider.go
  pkg/providers/testing.go
  pkg/routers/router.go
  pkg/routers/router_test.go
  pkg/telemetry/telemetry.go
Labels: api:http, area:api, provider:openai, size:large, model:language

#168 🔓 #148 update crypto lib, golang, fiber
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/vuln.yaml
  Makefile
  go.mod
  go.sum
  images/alpine.Dockerfile
  images/distroless.Dockerfile
  images/redhat.Dockerfile
  images/ubuntu.Dockerfile
Labels: area:chores

#166 #163: Evolving the resiliency & routing architecture to support chatStream
  .github/workflows/lint.yaml
  pkg/api/http/handlers.go
  pkg/api/schemas/chat.go
  pkg/api/schemas/chat_stream.go
  pkg/cmd/cli.go
  pkg/providers/anthropic/chat_stream.go
  pkg/providers/azureopenai/chat_stream.go
  pkg/providers/bedrock/chat_stream.go
  pkg/providers/clients/stream.go
  pkg/providers/cohere/chat_stream.go
  pkg/providers/config.go
  pkg/providers/lang.go
  pkg/providers/octoml/chat_stream.go
  pkg/providers/ollama/chat_stream.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/chat_stream.go
  pkg/providers/openai/chat_stream_test.go
  pkg/providers/openai/client.go
  pkg/providers/openai/errors.go
  pkg/providers/openai/testdata/chat_stream.empty.txt
  pkg/providers/openai/testdata/chat_stream.nodone.txt
  pkg/providers/provider.go
  pkg/providers/testing.go
  pkg/providers/testing/lang.go
  pkg/providers/testing/models.go
  pkg/routers/config.go
  pkg/routers/config_test.go
  pkg/routers/health/tracker.go
  pkg/routers/health/tracker_test.go
  pkg/routers/manager.go
  pkg/routers/router.go
  pkg/routers/router_test.go
  pkg/routers/routing/least_latency.go
  pkg/routers/routing/least_latency_test.go
  pkg/routers/routing/priority_test.go
  pkg/routers/routing/round_robin_test.go
  pkg/routers/routing/weighted_round_robin_test.go
Labels: type:enhancement, area:providers, area:resiliency, area:routing

#176 #146: Covered the telemetry by tests
  pkg/api/http/config_test.go
  pkg/config/expander_test.go
  pkg/config/testdata/expander.file.notfound.yaml
  pkg/config/testdata/expander.file.yaml
  pkg/config/testdata/openai_key
  pkg/routers/retry/config_test.go
  pkg/routers/router.go
  pkg/telemetry/logging_test.go
  pkg/telemetry/telemetry_test.go
Labels: area:chores, area:config, area:tests

#179 🔧 #161: Refined the chat stream req/responses
  pkg/api/http/handlers.go
  pkg/api/schemas/chat.go
  pkg/api/schemas/chat_stream.go
  pkg/providers/anthropic/chat_stream.go
  pkg/providers/azureopenai/chat_stream.go
  pkg/providers/bedrock/chat_stream.go
  pkg/providers/cohere/chat_stream.go
  pkg/providers/lang.go
  pkg/providers/octoml/chat_stream.go
  pkg/providers/ollama/chat_stream.go
  pkg/providers/openai/chat.go
  pkg/providers/openai/chat_stream.go
  pkg/providers/openai/chat_stream_test.go
  pkg/providers/testing/lang.go
  pkg/routers/router.go
  pkg/routers/router_test.go
Labels: api:http, model:language, type:refactoring

#184 ✨🐛 #183: Fix Anthropic API key header and start counting its token usage
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/api/schemas/chat.go
  pkg/providers/anthropic/chat.go
  pkg/providers/anthropic/client.go
  pkg/providers/anthropic/config.go
  pkg/providers/anthropic/schamas.go
  pkg/providers/anthropic/testdata/chat.success.json
  pkg/providers/bedrock/chat.go
  pkg/providers/cohere/schemas.go
  pkg/providers/lang.go
  pkg/providers/ollama/chat.go
  pkg/providers/openai/schemas.go
Labels: api:http, size:small, model:language, type:refactoring, provider:anthropic

#190 📝 Separate and list all supported capabilities per provider
  README.md
Labels: area:docs

#188 ✨ #173: Add Streaming Support for Azure OpenAI
  pkg/api/schemas/chat.go
  pkg/api/schemas/chat_stream.go
  pkg/providers/azureopenai/chat.go
  pkg/providers/azureopenai/chat_stream.go
  pkg/providers/azureopenai/chat_stream_test.go
  pkg/providers/azureopenai/client.go
  pkg/providers/azureopenai/schemas.go
  pkg/providers/azureopenai/testdata/chat_stream.empty.txt
  pkg/providers/azureopenai/testdata/chat_stream.nodone.txt
  pkg/providers/azureopenai/testdata/chat_stream.success.txt
  pkg/providers/openai/chat.go
Labels: api:http, provider:openai, model:language
